doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
  body
  header
    .header-container
      .logo
        a(href='/')
          img(alt='logo', src='./assets/img/logo.svg', title='Accueil')
      nav
        ul
          li(class=title=='Accueil'?'active':'')
            a(href='/') Accueil
          li(class=title=='Produits'?'active':'')
            a(href='./produits') Produits
          li(class=title=='Contact'?'active':'')
            a(href='./contact') Contact
          li
            a.shopping-cart(href='./shopping-cart', title='Panier')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.fa-inverse
                i.fa.fa-shopping-cart.fa-stack-1x
              span.count 3
  main
    block content
  footer
    p Oualid Mazouzi 1548314 - Yves Israel Ngudie 1719325
  script(type="text/javascript", src="./assets/js/jquery-3.2.1.min.js")
  script(type="text/javascript", src="./assets/scripts/utils.js")
  script(type="text/javascript", src="./assets/scripts/products.service.js")
  script(type="text/javascript", src="./assets/scripts/shopping-cart.service.js")
  script(type="text/javascript", src="./assets/scripts/shopping-cart.controller.js")
  script(type="text/javascript", src="./assets/scripts/products.controller.js")

