<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button (click)="onCategoryClick('cameras');sortProducts('price-asc','cameras')" 
              [ngClass]="{'selected': selectedCategory == 'cameras'}">Appareils photo
      </button>
      <button (click)="onCategoryClick('consoles') ;sortProducts('price-asc','consoles')" 
              [ngClass]="{'selected': selectedCategory == 'consoles'}">Consoles
      </button>
      <button (click)="onCategoryClick('screens');sortProducts('price-asc','screens')" 
              [ngClass]="{'selected': selectedCategory == 'screens'}">Écrans
      </button>
      <button (click)="onCategoryClick('computers') ;sortProducts('price-asc','computers')"
              [ngClass]="{'selected': selectedCategory == 'computers'}">Ordinateurs
      </button>
      <button (click)="onCategoryClick('all'); sortProducts('price-asc','all')" 
              [ngClass]="{'selected': selectedCategory == 'all'}">Tous les produits
      </button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button (click)="onCriteriaClick('price-asc');sortProducts('price-asc',selectedCategory)"
              [ngClass]="{'selected': selectedCriteria == 'price-asc'}">Prix (bas-haut)
      </button>
      <button (click)="onCriteriaClick('price-dsc');sortProducts('price-dsc',selectedCategory)"
              [ngClass]="{'selected': selectedCriteria == 'price-dsc'}">Prix (haut-bas)
      </button>
      <button (click)="onCriteriaClick('alpha-asc');sortProducts('alpha-asc',selectedCategory)"
              [ngClass]="{'selected': selectedCriteria == 'alpha-asc'}">Nom (A-Z)
      </button>
      <button (click)="onCriteriaClick('alpha-dsc');sortProducts('alpha-dsc',selectedCategory)"
              [ngClass]="{'selected': selectedCriteria == 'alpha-dsc'}">Nom (Z-A)
      </button>
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{products.length}} produits</span>
  <h1>Produits</h1>
  <div class="products" id="products-list">
      <div *ngFor="let product of products" class="product" >
        <a routerLink="/produits/{{product.id}}" title="En savoir plus...">
          <h2>{{product.name}}</h2>
          <img alt="{{product.name}}" src="./assets/img/{{product.image}}">
          <p><small>Prix</small> {{product.price}}&thinsp;$</p>
        </a>
      </div>
  </div>
</article>
